<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <script src="{% static "js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>
    <link rel="stylesheet" href="{% static "django_tables2/themes/paleblue/css/screen.css" %}" />
    {% block head %}{% endblock %}

</head>

<body>
    {% for breadcrumb in request.breadcrumbs %}
        <a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a>{% if not forloop.last %} &raquo; {% endif %}
    {% endfor %}
{#    <a href="{% url "main" %}">На главную</a>#}
{#    {% if user.is_authenticated %}#}
{#        <a href="{% url "account" user.id %}">Личный кабинет</a>#}
{#    {% endif %}#}
    {% block body %}{% endblock %}
</body>

</html>